<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        连接页面
    </title>
    <!--Vue-->
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/vue-resource.js"></script>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <!--Flat UI-->
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading "><a href="#">Wifi 信息</a></div>
                <div class="panel-body">
                    <ul class="list-group">
                        <% networks.forEach(function(networks){%>
                            <li class="list-group-item">
                                <%=networks.ssid %>
                            </li>
                            <% }) %>
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading "><a href="#">Wifi 设置</a></div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="ssidWifi" class="col-lg-2 control-label">新wifi SSID：</label>
                            <div class="col-lg-10 input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-signal"></span>
                                </span>
                                <input type="text" name="wifi_ssid" class="form-control" id="ssidWifi" v-model="wifissid" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pwdWifi" class="col-lg-2 control-label">新wifi password：</label>
                            <div class="col-lg-10 input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="password" name="wifi_password" class="form-control" id="pwdWifi" v-model="wifipwd" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="submitWifi" class="col-lg-10 control-label sr-only"></label>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-primary btn-block" id="submitWifi" :disabled="setwifi" @click="connwifi">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="warning">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{status}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{message}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/jquery.js "></script>
    <script src="/javascripts/flat-ui.js "></script>
    <script src="/javascripts/application.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                wifissid: "",
                wifipwd: "",
                status: "",
                message: ""
            },
            computed: {
                setwifi: function() {
                    if (this.wifissid !== "" && this.wifipwd !== "") {
                        return false;
                    }
                    return true;
                }
            },
            methods: {
                connwifi: function() {
                    var data = {
                        "wifi_ssid": this.wifissid,
                        "wifi_password": this.wifipwd
                    };
                    this.$http.post('/changeWifi', data).then(
                        function(response) {
                            if (response.data.status == 1) {
                                app.status = "Success!";
                                app.message = response.data.msg;
                                $('#warning').modal({});
                            } else if (response.data.status == 0) {
                                app.status = "Error!";
                                app.message = `Something wrong while logging ERR:${response.data.msg}`;
                                $('#warning').modal({});
                            }
                        },
                        function(err) {
                            console.log(err);
                        }
                    )
                }
            }
        });
    </script>
</body>

</html>