<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        控制页面
    </title>
    <!--Vue-->
    <script src="/javascripts/vue.js"></script>
    <script src="/javascripts/vue-resource.js"></script>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <!--Flat UI-->
    <link href="/stylesheets/flat-ui.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading "><a href="#">采样率 设置</a></div>
                <div class="panel-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="pick" class="col-lg-2 control-label">采样率：</label>
                            <div class="col-lg-10 input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="text" name="sampletime" class="form-control" id="pick" v-model="pick" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="submitPick" class="col-lg-10 control-label sr-only"></label>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-primary btn-block" id="submitPick" :disabled="setpick" @click="changepick">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading "><a href="#">闹钟阈值 设置</a></div>
                <div class="panel-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <label for="thres" class="col-lg-2 control-label">阈值：</label>
                            <div class="col-lg-10 input-group">
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="text" name="sampletime" class="form-control" id="thres" v-model="thres" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="submitThres" class="col-lg-10 control-label sr-only"></label>
                            <div class="col-lg-2">
                                <button type="button" class="btn btn-primary btn-block" id="submitThres" :disabled="setThres" @click="changeThres">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="warning">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{status}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{message}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/jquery.js "></script>
    <script src="/javascripts/flat-ui.js "></script>
    <script src="/javascripts/application.js"></script>
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                pick: "",
                thres: "",
                status: "",
                message: ""
            },
            computed: {
                setpick: function() {
                    if (this.pick !== "") {
                        return false;
                    }
                    return true;
                },
                setThres: function() {
                    if (this.thres !== "") {
                        var r = /^\+?[1-9][0-9]*$/;
                        return !r.test(this.thres);
                    }
                    return true;
                }
            },
            methods: {
                changepick: function() {
                    var data = {
                        "sampletime": this.pick
                    };
                    this.$http.post('/sample', data).then(
                        function(response) {
                            if (response.data.status == 1) {
                                app.status = "Success!";
                                app.message = response.data.msg;
                                $('#warning').modal({});
                            } else if (response.data.status == 0) {
                                app.status = "Error!";
                                app.message = `Something wrong while logging ERR:${response.data.msg}`;
                                $('#warning').modal({});
                            }
                        },
                        function(err) {
                            console.log(err);
                        }
                    )
                },
                changeThres: function() {
                    var data = {
                        "threshold": this.thres
                    };
                    this.$http.post('/threshold', data).then(
                        function(response) {
                            if (response.data.status == 1) {
                                app.status = "Success!";
                                app.message = response.data.msg;
                                $('#warning').modal({});
                            } else if (response.data.status == 0) {
                                app.status = "Error!";
                                app.message = `Something wrong while logging ERR:${response.data.msg}`;
                                $('#warning').modal({});
                            }
                        },
                        function(err) {
                            console.log(err);
                        }
                    )
                }
            }
        });
    </script>
</body>

</html>